.root {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    
    li {
        a {
            padding: 10px;
            border: 1px solid #fe511e;
            border-radius: 30px;
            cursor: pointer;

            &:hover {
                background-color: #fe511e;
                color: #fff;  
            }
        }
    }

    :global {
        .selected {
            a {
                background-color: #fe511e;
                color: #fff;    
            }
        }
    }
}